<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello World</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
  <style>
    #app {
      font-size: 1.25em;
    }
    button{
      font-size: 1.5em;
    }
    label{
      display: block;
    }
    .quest{
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #ccc;
    }
  </style>
</head>
<body>

  <div id="app">

    <h1>簡單的心理測驗遊戲</h1>

    <div class="quest">
      <h3>第{{ curr + 1 }}題: {{ questions[curr].quest }}</h3>
      <label v-for="(answer, index) in questions[curr].options">
        <input type="radio" :value="answer.value" v-model="questions[curr].selected">
        {{ index + 1 }}. {{ answer.ans }}
      </label>

    </div>

    <button @click="prev()">前一題</button>
    <button @click="next()">下一題</button>
    <button @click="settlement">看結果</button>
    <button @click="reset">重置</button>
  </div>

  <script>
  var vm = new Vue({
    el: '#app',
    data: {
      curr: 0,
      selfQuestions: []
      questions: [
        {
          quest: '如果你是童話故事中，想吃掉三隻小豬的大野狼，你認為使用哪一種方法可以容易吃掉他們？',
          options: [
            { ans: '用煙把小豬燻到昏倒',         value: 1 },
            { ans: '從煙囪或其他入口偷偷爬進屋',  value: 2 },
            { ans: '用槌子把門破壞闖入屋內',      value: 3 },
            { ans: '模仿豬媽媽的聲音騙小豬開門',  value: 4 },
          ],
          selected: null,
        },
        {
          quest: '剪刀、石頭、布，你第一直覺會出哪一個？',
          options: [
            { ans: '剪刀', value: 3 },
            { ans: '石頭', value: 2 },
            { ans: '布',   value: 1 },
          ],
          selected: null
        },
        {
          quest: '下列四項運動項目中，假設你要開始嘗試的話，你最想要做哪一項？',
          options: [
            { ans: '潛水',   value: 3 },
            { ans: '滑翔翼', value: 4 },
            { ans: '滑水',   value: 2 },
            { ans: '長途徒步旅行', value: 1 },
          ],
          selected: null,
        }
      ],
      selfQuestions: this.questions,
    },
    computed: {
      total: function(){
        var sum = 0;
        this.questions.forEach(function(v){
          sum += Number(v.selected);
        });
        return sum;
      }
    },
    methods: {
      settlement: function(){
        alert('總分: ' + this.total);
      },
      reset: function(){
        this.questions.forEach(function(v){
          v.selected = null;
        });
      },
      prev: function() {
        if(this.validTest()) {
          return;
        }
        if(this.curr === 0)
          this.curr = 0;
        else {
          --this.curr;
        }
      },
      next: function() {
        if(this.validTest()) {
          return;
        }
        if(this.curr === this.questions.length -1) {
          this.curr = this.questions.length -1;
        } else {
          ++this.curr;
        }
      },
      validTest: function() {
        if(this.questions[this.curr].selected === null) {
          alert('您還沒作答喔');
          return true;
        } else {
          return false;
        }
      },
      save: function(fromObj, ToObj) {
        ToObj = [];
        var q;
        for(q in fromObj) {
          ToObj.push({

          });
        }
      },
    },
  });
  </script>
</body>
</html>